<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sgbd" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=database.mdb"
            providerName="System.Data.OleDb" />
      <add name="support" connectionString=""
            providerName="System.Data.MySQL"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>